<%=stylesheet_link_tag "top_level"%>
<%=stylesheet_link_tag "root_page"%>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
</style>
<div class="home_page regular">  
  <%= render "shared/sidebar" , assignments: @assignments %>
  <div class="content" id="root_content">
    <h1 id="root_title">Road Trip 2024</h1>
    <h2 id = "root_subtitle">Yellowstone and Beyond</h2>

  </div>
</div>
