#root_content {
  background-image: url(yellowstone_background_image.jpg);
  width: auto;
  background-size: cover;
}

#root_title {
  margin: auto;
  text-align: center;
  font-family: "Poller One", serif;
  font-size: 100px;
  color: yellow;
}

#root_subtitle {
  margin: auto;
  text-align: center;
  font-family: "Poller One", serif;
  font-size: 50px;
  color: yellow;
}

.poller-one-regular {
  font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;
}
