#rushmore_img {
  content: url(Mount_Rushmore.jpg);
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#president_questions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#president_questions_label {
  font-size: 30px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.question_label {
  font-size: 30px;
  margin: auto;
  flex: 1 1 0;
}

.rushmore_question {
  display:flex;
  justify-content: left;
  padding: 10px;
  align-items: center; 
}

.rushmore_button {
  margin: auto;
}