.score_table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 20px;
}

.score_table_label {
  grid-column: 1 / 2;
  font-size: 30px;
  margin: 0px;
}

.score_table_label a{
  text-decoration: none;
  color: black;
}

.score_table_score {
  grid-column: 2 / 3;
  font-size: 30px;
  margin: 0px;
}

#score_total_score {
  font-weight: bold;
}

#score_total_label {
  font-weight: bold;
}