body {
  margin: 0px;
}

.content {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

div.regular {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.assignment_title {
  margin: auto;
  text-align: center;
  font-family: "Poller One", serif;
  font-size: 50px;
  color: black;
}

.sidebar {
  grid-column: 1 / 2;
  background-color: #154734;
  color: white;
  padding: 20px
}

.sidebar_list_item {
  font-size: 20px;
  margin: 10px;
}

.sidebar_list_item a {
  color: white; 
  text-decoration: none;
}

#assignment_listing {
  list-style-type: circle;
}
.assignment_item a {
  color: white;
}


.content {
  grid-column: 2/3;
  padding: 20px;
  background-color: beige;
}

h1 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.correct_question {
  border-color: green;
  border-width:  3px;
}

.incorrect_question {
  border-color: red;
  border-width:  3px;
}

.score {
  font-size: 50px;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.submit_button {
  width: 100px;
  height: 30px;
  background-color: darkgray;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border-width: 2px;
  border-color: black;
  color: black;
}