body {
  margin: 0px;  
}

ul {
  list-style-type: none;
}

div.regular {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  grid-column: 1 / 2;
  background-color: #154734;
  color: white;
  padding: 20px
}

.sidebar_list_item {
  font-size: 20px;
  margin: 10px;
}

.sidebar_list_item a {
  color: white; 
  text-decoration: none;
}

#assignment_listing {
  list-style-type: circle;
}
.assignment_item a {
  color: white;
}


.content {
  grid-column: 2/3;
  padding: 20px;
}

h1 {
  margin: 0;
}